.boton {
    padding: 20px;
    background-color:gray;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.671);
    margin:10px;
    border: solid 1px cyan;
    border-radius: 10px;
    width: 120px;
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.row {
    background-color: rgba(128, 128, 128, 0.178);
    text-align:center;
    width:145px;
    display:inline-block;
    border: solid 1px blue;
}

.cabezera {
    background-color:rgb(0, 17, 255);
    padding:40px;
    margin:20px;
}

.titulo {
    color:white;
    text-align:center
}